* {
    justify-self: center;
}

.square {
    border: 1px solid black;
    background-color: rgb(234, 229, 229);
    height: 100px;
    width: 100px;
}

#game-display {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    margin-bottom: 50px;
}